<h1>Hello!</h1>
<img src=Me.jpg width="300" height="300" alt="That was supposed to be my picture">

<p>
I am Anand. I'll be awesome someday :P. I’m most excited about changing the lives of people through technology!
</p>
<script>
    //I'll put in something else here later :D
console.log(Array(16).join("wat"-1)+" Batman!")
</script>